<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      a:link {
        color: cadetblue;
      }
      a:active {
        color: blue;
        background-color: black;
      }
      a:visited {
        color: red;
      }
      a:focus {
      }
      a:hover {
        color: yellow;
      }

      input:disabled {
        color: black;
        height: 20px;
        width: 20px;
      }
    </style>
  </head>
  <body>
    <div>
      <input disabled type="radio" id="text" />
      <label for="text">Active</label>
    </div>
    <div>
      <a href="#">Home</a>
    </div>
  </body>
</html>
